html {
    scroll-behavior: smooth;
}
body {
    font-family:Georgia, serif;
    background-color: #0f0f0f;
    color: #e5e5e5;
    line-height: 1.8;
    padding: 2rem;
}

header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #5c1e2c;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 15vw;
    border-bottom: 2vw solid #5c1e2c;
}

nav {
    display: flex;
    justify-content:center;
    margin-bottom: 3rem;
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    
}

nav a {
  text-decoration: none;
  color: #e5e5e5;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  position:initial;  
  }

nav li:hover {
  
  border-spacing: 10vw;
  color: #5c1e2c;
  border-style:ridge;
  cursor: pointer;
}

section {
  margin-bottom: 5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

section h2,
#presentacion h1 {
  font-family: 'Georgia', serif;
  font-size: 2rem;
  color: #b0485d;
  margin-bottom: 1rem;
}

section p,
section ul,
section table {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: 0.5rem;
  list-style-type: square;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  display:block;
  margin-top: 1rem;
  font-weight: bold;
}

form input,
form textarea {
  background-color: #1c1c1c;
  border: 0.4vw solid #5a2d3d;
  color: #f1f1f1;
  padding: 0.75rem;
  border-radius: 0.5vw;
  margin-top: 0.3rem;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #a23a52;
  box-shadow: 0 0 8vw rgba(162, 58, 82, 0.5);
}

form button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #a23a52;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5vw;
}

form button:hover {
  background-color: #5c1e2c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border: 1px solid #5a2d3d;
  table-layout: auto;
}

caption {
  width: 100%;
  margin-top: 1rem;
  border: 0.1vw solid #5a2d3d;
  color: #a23a52;
}

th, td {
  padding: 1rem;
  text-align:center;
  border-bottom: 1px solid #a23a52;
}

th {
  background-color: #1a1a1a;
  color: #a23a52;
}


footer {
  text-align: center;
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #666;
}